:root{
	--color_header: white;
	--color_body: lightgray;
	--color_header_text: black;
	--color_header_menu_button_hover:rgb(214, 195, 20);
	--color_main_header_info_text:rgb(0, 0, 0)
	--color_main_project_text_nomer-one: rgba(0, 0, 0, 0);
	--color_main_project_text_nomer-two: rgb(255, 255, 255);
	--color_main_project_background_nomer-one: rgba(0, 0, 0, 0);
	--color_main_project_background_nomer-two: rgba(0, 0, 0, 0.459);
	--color_main_window:rgb(39, 32, 51);
	--height_cont:25vh;
}
body{
	margin:0;
	background-color: var(--color_body);
	font-family: "Arial";
	overflow:visible;
	max-width: 2560px;
	width: 99.8%;
}
.one_arti{
	height:100vh;
}
.two_arti {
	height: 40vh;

} 
.two_arti h1{
	margin: 1.6%;
	height: 2%;
}
.four_arti{
	height: 55vh;
}

header{
	padding-bottom: 0.5%;
	padding-top: 0.5%;
	background-color: var(--color_header);
	width: 101%;
	height: 3.5%;
}
header h1,a{
	position: relative;
	color: var(--color_header_text);
	display: inline-block;
	text-decoration: none;
}
header h1{
	font-size: 1vw;
	margin-left: 25vw;
	vertical-align: middle;
}
.header_menu{
	padding-left: 10vw;
	padding-right: 10vw;
	text-decoration: none;
	position: relative;
	display: inline-block;
}
.header_menu li{
	font-size: 0.9vw;
	font-weight: 500;
	margin-left: 2vw;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.header_menu li a:hover ,.footer_menu li a:hover{
	color: var(--color_header_menu_button_hover);
	border-bottom: 2px solid var(--color_header_menu_button_hover);
}
main{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main_header_info{
	z-index: 1;
	top: 12vw;
	left: 10vw;
	position: absolute;
}
.main_header_info h3{
	position: relative;
	color: var(--color_main_header_info_text);
}
.main_sliders_body{
	left: 0;
	height: 100%;
	display: inline-flex;
	position: relative;
	transition: 1s ease;
}
.main_slider_items{
	margin-left: 0;
	margin-right: 0;
	width: 100vw;
	background-size: cover;
	background-position: bottom right;
	height: 100%;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 9.3vw;
	width: auto;
	height: 50vw;
	margin-top: -1.1vw;
	padding: 2vw;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 1vw;
	transition: 0.6s ease;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(240, 248, 255, 0);
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(255, 255, 255, 0.8);
}
h1{
	  margin-top: 2vw;
	  text-align: center;
	  font-size: 1.5vw;
}
.two_zone {
	padding:0 1%;
	width: 51%;
	height: 30%;
	margin: 0 auto;
	display: block;
}
.two_zone .main_zone_items{
	width: 49.11%;
}
.main_zone_items{
	  display: inline-block;
	  text-align: center;
	  margin-left: 0;
	  margin-right: 0;
	  height: 60%;
}
.main_zone_items_image{
	  margin: 10px auto;
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: contain;
	  width: 100%;
	  height: 100%;
}
.text_main_zony{
	  display: inline-block;
	  margin-top: 0.2vw;
	  width: 10%;
	  height: 1%;
}
.MainText_main_zony{
	  font-size: 0.8vw;
}
.block{
	  display: inline-flex;
	  margin: 0 auto;
	  background-color: rgba(0, 0, 0, 0);
	  border:none;
	  height: 100%;
	  vertical-align: middle;
	}
.block_image{
	  width: 100%;
	  height: 100%;
	  margin: 0 auto;
	  background-size: contain;
	  background-repeat: no-repeat;
	  position: relative;
	  z-index: -1;
}
.two-items, .three-items{
	width: 98%;
	height: 30vw;
	margin: 0 auto;
}
.two-items .block{
	width: 49%;
}
.three-items{
	height: 17vw;
	width: 90%;
	margin-left: 5%;
}
.three-items .block{
	width: 32%;
	vertical-align: middle;
}
.DarkSlite{
	  z-index: 3;
	  transition: 1s ease;
	  background-color: var(--color_main_project_background_nomer-one);
	  color: var(--color_main_project_text_nomer-one);
	  width: 100%;
	  height: 100%;
}
.block_text{
	  position: relative;
	  z-index: 2;
	  top: -80%;
	  left: -35%;
	  font-size: 80%;
}
.DarkSlite:hover{
	background-color: var(--color_main_project_background_nomer-two);
	color: var(--color_main_project_text_nomer-two);
	cursor: pointer;
}

.main_infoObject_block{
	background-color: var(--color_main_window);
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 10%;
	right: 10%;
	display: none;
	text-align: center;
}
.manu_sliders_window{
	width: 50%;
	height: 50%;
	margin: 1.5vw auto;
	margin-bottom: 0.5vw;
	overflow: hidden;
}
.main_infoObject_sliders_body{
	left: 0;
	width: calc(10*100%);
	height: 100%;
	display: inline-flex;
	position: relative;
	transition: 1s ease;
}
.main_infoObject_block p,.main_infoObject_block h1{
	color: white;
	display: block;
	font-weight: 600;
}.main_infoObject_block p{
	font-size: 130%;
}

.infoObject_sliders_items{
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: black;
}
.prev_infoObject, .next_infoObject {
	cursor: pointer;
	height: 10vw;
	width: 3vw;
	z-index: 3;
	position: fixed;
	margin-top: -2vw;
	top:15vw;
	padding: 0.1vw;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 1vw;
	transition: 0.6s ease;
	border-color: rgba(0, 0, 0, 0);
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(240, 248, 255, 0);
}
.next_infoObject {
	margin-left: 17vw;
	border-radius: 3px 0 0 3px;
}
.prev_infoObject:hover, .next_infoObject:hover {
	background-color: rgba(255, 255, 255, 0.8);
}
.close{
	font-size: 1vw;
	color: red;
	position: fixed;
	background-color: black;
	border: none;
	margin-top: 0.2vw;
	left:20.2vw;
}
.container_for_form{
	text-align: center;
	height: 90%;
	width: 100%;
	margin-top: 3%;
	background-color: rgba(0, 0, 0, 0.315);
}
.form , .info_about{
	display: inline-block;
	border-radius: 10%;
	width: 22%;
	margin: 3% 5% 6% 5%;
	height: 80%;
	text-align: center;
	background-color: white;
	vertical-align: middle;
}

form,.contant{
	width: 80%;
	height: 70%;
	margin: 3% auto;

}
input{
	width: 80%;
	padding-left: 6%;
	margin: 5% auto;
	height: 20%;
	font-weight: 700;
	display: block;
}
footer{
	width: 101%;
	height: 10vh;
	background-color: black;
	bottom: 0;
}

@media (max-width:425px){
	body{
		max-width: none;
	}
	main{
		width: 100%;
		height: 100%;
	}
	.three-items .block, .two-items .block{
		width: 100%;
		height: var(--height_cont);
		display: block;
	}
	.two_zone , .three_zone,.two-items, .three-items{
		width: 100%;
		display: block;
	}
	.main_header_info{
		top: 10vh;

	}
	.two-items{
		height: calc(var(--height_cont)*2);
		margin: 0 auto;
	}
	.three-items{
		width: 100%;
		height: calc(var(--height_cont)*3);
		margin: 0;
	}
	.block_image{
		background-position: center center;
	}
	.one_arti{
		margin: 0;
		height:30vh;
	}
	.two_arti {
		height: 60vh;
	} 
	.two_arti h1{
		margin: 1.6%;
		height: 2%;
	}
	.three_arti{
		height: calc((var(--height_cont)*7)+3vh);
	}
	.four_arti{
		height:85vh;
	}
	.DarkSlite{
		background-color: var(--color_main_project_background_nomer-two);
		color: var(--color_main_project_text_nomer-two);
	}
	.block_text h3 , .block_text{
		font-size: 10px;
	}
	.main_infoObject_block{
		width: 100%;
		height: 100%;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
	}
	.manu_sliders_window{
		margin-top:10%;
		width: 90%;
		height: 30%;
	}
	.form , .info_about{
		display: block;
		border: 1px solid white;
		margin: 0 auto;
		height: 45%;
		border-radius: 0;
		width: 100%;
	}
	.container_for_form{
		height:100%;
		margin: 3% 0;
		background-color: white;
	}
}
